.btn-space-right {
    margin-right: 10px;
}

.btn-space-left {
    margin-left: 200px;
}

.array-table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-left: -30px;
    width: 340;
}

.array-table li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd;
    list-style: none;
}

.array-container {
    border: 1px solid #ddd;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
}